<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
</head>
<body>
    <div class="main  ">
        
        <h2 class=" f1 ma0 white mt4 mb3">Add Product</h2>
        <p class=" pa1 ma0 bg-white black br2 mv2 wft ma"><%= message %></p>
    
           <form class="option-reg" action="/prodPost" method="POST">
               <input type="text" class="opt-reg" placeholder="Product Cateogry "name="cateo" required>
               <input type="text" class="opt-reg" placeholder="Product Title "name="title" required>
               
               <input type="text" class="opt-reg" placeholder="Product Size (Use ',' to seperate)"name="size" required>
               <input type="text" class="opt-reg" placeholder="Product Colours (Use ',' to seperate)"name="color" required>
               <input type="text" class="opt-reg" placeholder=" Product Price "name="price" required>
               
               <input type="file" class="file pa2 bg-white" placeholder=" Image"name="image" required>
                <button type="submit" class="opt-sellr">Add Product</button>
              
            </form>
       
        
        <p class="bottom">All Rights Reserved @Grahak.in - Made with Love in India </p>
    </div>
</body>
</html>