<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
</head>
<body>
    <div class="main  ">
        
        <div class="head-user flex pa2 tc mb0 justify-between bg-white black shadow-3 ">
            <a href="/"><h2 class="title-user black  ma0">Grahak</h2></a>
                <a class="wft bg-white bn " href="/locate"><i class="im im-location black tc"></i></a>

        </div>
    
           <form class="option-book mt3" action="/orderPost" method="POST">
                <p class=" pa1 ma0 ma bg-white br2 black wft"><%=message %></p>
               <div class="inputs flex flex-column justify-between ">

                   <input type="text" class="opt-reg " placeholder="Full Name " name="name" required>
                   <input type="tel" class="opt-reg " placeholder=" Contact Number "  name="num" required>
                   <input type="text" class="opt-reg " placeholder=" Location " name="locate" required>
                   <div class="item-get tc center bg-white  br3 opt-reg ">
                    <p class="mb2 bg-orange pa1 white br3 wft ma">Choose a List to Order</p>
                   <div class="list pa1 bg-green br2 mt2 flex justify-between">
                       <h2 class="ma0 f5 white ">Home List</h2>
                       <i class="im im-plus white"></i>
                   </div>
                  
                   </div>
               </div>
                <button type="submit" class="opt-sellr">Order Now</button>

            </form>
       
        
        <p class="bottom">All Rights Reserved @Grahak.in - Made with Love in India </p>
    </div>
</body>
</html>