<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
    <link rel="stylesheet" href="tachyons.min.css">
</head>
<body>
    <div class="main">
        <a href="/"><h2 class="f1 white mb0 ">DashBoard</h2></a>
        <p class="white ma0 ls2">Manage all your Stuff</p>

        <div class="settings pa3  mt4 items-center ">
            <a href="/addprod" class="set-lnk white ma3">
                <p class="pa2 bg-white w-80-ns w-30-l  ma black br2">Add Product</p>
            </a>
            <a href="/mngprod" class="set-lnk white ma3">
                <p class="pa2 bg-white w-80-ns w-30-l  ma black br2">Manage Products</p>
            </a>
       
 
            <a href="/profile" class="set-lnk white ma3">
                <p class="pa2 bg-white w-80-ns w-30-l  ma black br2">View Profile</p>
            </a>
           
        </div>
        <p class="bottom">All Rights Reserved @Grahak.in - Made with Love in India </p>
    </div>
</body>
</html>