<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="d-flex flex-column bg-white">
    <section id="header" class="bg-white p-2">
        <div class="container d-flex justify-content-between bg-white align-items-center">
            <a href="index.html"><h2 class="text-dark">Grahak</h2></a>
            <div>
               <a href="login.html"> <button class="btn btn-outline-dark bg-none"><i class="fa fa-arrow-right-to-bracket"></i> Login</button></a>
            </div>
        </div>
       
    </section>


    <section id="home" class=" d-flex text-center bg-white">
        <img src="homeImg.png" alt="" class="col">
        <div class="col">
            <h1 class="">Be a Grahak or Find Grahaks</h1>
            <div>
            <a href="register.html"><button class="btn btn-outline-dark">Register as Business</button></a>
            <a href="regConsumer.html"><button class="btn btn-outline-dark">Register as Customer</button></a>
            </div>
        </div>
        
    </section>

</body>
</html>