<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="tachyons.min.css">
</head>
<body>
    <div class="main  ">
        
        <a href="/"><h2 class="title-main ">Grahak</h2></a>
        <p class="slogan">Your Nearby Online Store</p>
        <div class="options">
            <a href="/login" class="opt-link"><button class="opt mb3 mt6  ">Seller</button></a>
            <a href="/login" class="opt-link"><button class="opt  ">Customer</button></a>
        </div>
        
        <p class="bottom">All Rights Reserved @Grahak.in - Made with Love in India </p>
    </div>
</body>
</html>