<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
</head>
<body>
    <div class="main  ">
        
        <h2 class="title-log">Welcome Back</h2>
        <p class=" bg-white black ma wft mt3 br2 pa1"><%=data %></p>
    
           <form class="option-log" method="POST" action="/loginPost">
         <!--Add div.inputs-->
               <input type="email" class="opt-log" name="email" placeholder=" E-mail Address "name=" " required>
               <input type="text" class="opt-log" name="passw" placeholder=" Password "name=" " required>
           
                <button id="btn" type="submit"  class="opt-sellr mt3">Submit</button>
               <a href="/register">  <button type="button"  class="opt-sellr">Not Registered! SignUP Now</button></a>
            </form>
       
        
        <p class="bottom">All Rights Reserved @Grahak.in - Made with Love in India </p>
    </div>
</body>
</html>