<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="test.css">
</head>
<body class="d-flex flex-column">
    <section id="header" class="bg-white p-2">
        <div class="container d-flex justify-content-between bg-white align-items-center">
            <a href="index.html"><h2 class="text-dark">Grahak</h2></a>
            <div>
                <a href="register.html"> <button class="btn btn-outline-dark bg-none">Register</button></a>
            </div>
        </div>
       
    </section>

    <section id="main" class="d-flex">
        <img src="logImg.png" alt="" class="col">
        <section id="reg-form" class="bg-white col">
            <form action="" class="text-center">
                <h1 class="">Welcome Back, Login Now</h1>
                <input  type="text" name="" placeholder="Contact Number" class="p-2  rounded bg-white  border formInputs w-90 d-block  ">
                <input  type="text" name="" placeholder="Password" class="p-2  rounded bg-white  border formInputs w-90 d-block  ">
               
               <a href="sellerDashBoard.html"> <button type="button" class="btn btn-outline-dark" >Login Now</button></a>
            </form>
        </section>
    </section>
   


     

</body>
</html>