<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
</head>

<body>
    <div class="main">
        <h2 class=" f1 ma0 white mt4 ">Manage Product</h2>
        

        <div class="Locations mt3 pa2">
            <div class="search flex  w-100-ns w-40-l  ma  ">
                <input type="search" class="search-input pa2 f6 w-100  bn  " placeholder="Search the Product">
                <button class="pa1 search-btn bn bg-white wft"><i class="im im-plus"></i></button>
            </div>
            <div class=" Prod-list  w-100 pa5-l pa0-ns   ">
               
               
                <div class="prod-card bg-white w-100 pa1  mv2 flex-column br2  ">

                   <img src="12.jpg" class="w-100 ma br3">
                    <p class="p-title  f5 black tc w-100 ma2 pa0">Sunsilk Shampoo (500ml)</p>
                    <a href="/editProd">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Edit</button>
                    </a>
                    <a href="dltProd" class="">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Delete</button>
                    </a>
                </div>
                <div class="prod-card bg-white w-100 pa1  mv2 flex-column br2  ">

                   <img src="12.jpg" class="w-100 ma br3">
                    <p class="p-title  f5 black tc w-100 ma2 pa0">Sunsilk Shampoo (500ml)</p>
                    <a href="/editProd">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Edit</button>
                    </a>
                    <a href="dltProd" class="">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Delete</button>
                    </a>
                </div>
                <div class="prod-card bg-white w-100 pa1  mv2 flex-column br2  ">

                   <img src="12.jpg" class="w-100 ma br3">
                    <p class="p-title  f5 black tc w-100 ma2 pa0">Sunsilk Shampoo (500ml)</p>
                    <a href="/editProd">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Edit</button>
                    </a>
                    <a href="dltProd" class="">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Delete</button>
                    </a>
                </div>
                <div class="prod-card bg-white w-100 pa1  mv2 flex-column br2  ">

                   <img src="12.jpg" class="w-100 ma br3">
                    <p class="p-title  f5 black tc w-100 ma2 pa0">Sunsilk Shampoo (500ml)</p>
                    <a href="/editProd">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Edit</button>
                    </a>
                    <a href="dltProd" class="">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Delete</button>
                    </a>
                </div>
                <div class="prod-card bg-white w-100 pa1  mv2 flex-column br2  ">

                   <img src="12.jpg" class="w-100 ma br3">
                    <p class="p-title  f5 black tc w-100 ma2 pa0">Sunsilk Shampoo (500ml)</p>
                    <a href="/editProd">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Edit</button>
                    </a>
                    <a href="dltProd" class="">

                        <button type="submit" class="w-100 bg-dark-red ma2-ns ma2-l br2 white  pa2 wft  bn ml2  bg-white   ">Delete</button>
                    </a>
                </div>
               



            </div>

        </div>
    </div>
</body>

</html>