<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
</head>
<body>
    <div class="main">
        <div class="head-user flex pa2 tc mb0 justify-between bg-white black shadow-3 ">
            <a href="/"><h2 class="title-user black  ma0">Grahak</h2></a>
            <a class="wft bg-white bn " href="/locate"><i class="im im-location black tc"></i></a>

        </div>

        <div class="extra mt0 pa3  ">
            <div class="product-2 bg-white br3 ma   ">
                <p class="seller  pa1 ma0 tc bb bg-blue shadow-3  white  ">Saraswati General Store</p>
                <div class="data-2 pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-100 mb3">
                <div class="text-2 w-100 tc ma   pa2 br3">
                <h3 class="p-title tc f3 ma0 black w-100 mt3 ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <div class="gallery ">
                    <img src="12.jpg" alt="" class="det-img w-100">
                    <img src="12.jpg" alt="" class="det-img w-100">
                    <img src="12.jpg" alt="" class="det-img w-100">
                </div>
                 </div>

            </div>
        </div>
            <div class="details ma0 pa3n ma2 br3">
                <h2 class="det-h f4 tl mt2 bg-light-gray pa2  br2">About the Product</h2>
                <p class="bg-light-gray pa2 br2 tj f6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dignissimos modi optio praesentium consectetur incidunt dolorem in magni nobis mollitia voluptatem corporis necessitatibus culpa atque officia, unde perferendis ea sed!</p>
               <div class="specs flex br3 pa2 bg-light-gray">
                   <div class="cateo">
                        <ul class="cato-list">
                            <li class="cato">Seller</li>
                            <li class="cato">Warrenty</li>
                            <li class="cato">Smell</li>
                            <li class="cato">Stock</li>
                            <li class="cato">Size</li>
                            <li class="cato">Location</li>
                        </ul>
                   </div>
                   <div class="value ">
                       <ul class="valo-list">
                           <li class="valo">Sarswati General Store</li>
                           <li class="valo">2 Years</li>
                           <li class="valo">Peach Milk</li>
                           <li class="valo">Availible</li>
                           <li class="valo">500ml</li>
                           <li class="valo">Bada Bazar Amroha</li>
                       </ul>
                   </div>
               </div>
               <div class="reviews mt3  ">
                   <div class="review bg-light-gray pa0 wft pr3  br3">
                       <div class="rev-head flex ma0 pb0">

                           <img src="12.jpg" alt="" class=" ma2 rev-img br-100 shadow-3 ">
                           <p class="rev-name w-100 tl f5 ma pl2 ma0">Suresh Pathak</p>

                       </div>
                       <hr class=" w-100 o-20 ma0" >
                       <div class="rev-text ma0 flex pa1">
                           <p class="rev pa2 tl ma0 w-100">Nice Product</p>
                           
                       </div>

                   </div>
               </div>
               
               
               
            </div>
           
        </div>


        <div class="actions">
            <a href="https://wa.me/+9112345678" class="action"><button class="action-btn">Contact Seller</button></a>
            <a href="/order" class="action"><button class="action-btn">Book Order</button></a>
            <a href="https://googlemaps.in/amroha" class="action"><button class="action-btn"> Shop Location</button></a>
        </div>
    </div>
    </div>
</body>
</html>