<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
</head>
<body>
    <div class="main pa3">
        <a href="/"><h2 class="f1 white  ">Hello Ram</h2></a>
        
        <div class="profile  pa2 flex-column  ma bg-white br3 w-100-ns w-40-l">
            <img src="12.png" alt="" class="ma w-30 br-100 ">
            <h2 class=" mt0 o-80 mb2">Ram Goel</h2>
            <div class="specs flex br3 pa2 pr3 w-100 justify-between bg-light-gray">
                <div class="cateo">
                     <ul class="cato-list pl2">
                         <li class="tl pa1">Seller</li>
                         <li class="tl pa1">Contact No.</li>
                         <li class="tl pa1">Email</li>
                         <li class="tl pa1">Cateogry</li>
                         <li class="tl pa1">GSTIN</li>
                         <li class="tl pa1">Location</li>
                     </ul>
                </div>
                <div class="value ">
                    <ul class="valo-list">
                        <li class="tr  pa1">Goel Sellers</li>
                        <li class="tr  pa1">+9111111111</li>
                        <li class="tr  pa1">Demo@1212.com</li>
                        <li class="tr  pa1">Clothing</li>
                        <li class="tr  pa1">Null</li>
                        <li class="tr  pa1">Bada Bazar Amroha</li>
                    </ul>
                </div>
            </div>

            <a href="/editProfile" class=""><button class=" pa2 w-100 bg-purple white br3 bn">Edit Profile</button></a>
        </div>
    </div>
</body>
</html>