<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="tachyons.min.css">
    <link rel="stylesheet" href="iconmonstr-iconic-font.min.css">
</head>
<body>
    <div class="main">
        <div class="head-user flex pa2 tc mb0 justify-between bg-white black shadow-3 ">
            <a href="/"><h2 class="title-user black  ma0">Grahak</h2></a>
            <a class="wft bg-white bn " href="/locate"><i class="im im-location black tc"></i></a>

        </div>

        <div class="products mt0 pa3">
            <div class="product bg-white br3 ma2 ">
                
                <div class="data pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-50">
                <div class="text w-100 tc pl3 pr3">
                <p class="seller  pa2 wft  mla mt0 mb2 bg-light-gray   f7   black br3 "><%=nme%></p>
                    <h3 class="p-title tc f3 ma0 black ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <a href="/prod"><button class=" shadow-3 bg-black pa1 bn br3 white w-100 ">View Details</button></a></div>
            </div>
            </div>
            <div class="product bg-white br3 ma2 ">
                
                <div class="data pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-50">
                <div class="text w-100 tc pl3 pr3">
                <p class="seller  pa2 wft  mla mt0 mb2 bg-light-gray   f7   black br3 ">Saraswati General Store</p>
                    <h3 class="p-title tc f3 ma0 black ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <a href="/prod"><button class=" shadow-3 bg-black pa1 bn br3 white w-100 ">View Details</button></a></div>
            </div>
            </div>
            <div class="product bg-white br3 ma2 ">
                
                <div class="data pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-50">
                <div class="text w-100 tc pl3 pr3">
                <p class="seller  pa2 wft  mla mt0 mb2 bg-light-gray   f7   black br3 ">Saraswati General Store</p>
                    <h3 class="p-title tc f3 ma0 black ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <a href="/prod"><button class=" shadow-3 bg-black pa1 bn br3 white w-100 ">View Details</button></a></div>
            </div>
            </div>
            <div class="product bg-white br3 ma2 ">
                
                <div class="data pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-50">
                <div class="text w-100 tc pl3 pr3">
                <p class="seller  pa2 wft  mla mt0 mb2 bg-light-gray   f7   black br3 ">Saraswati General Store</p>
                    <h3 class="p-title tc f3 ma0 black ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <a href="/prod"><button class=" shadow-3 bg-black pa1 bn br3 white w-100 ">View Details</button></a></div>
            </div>
            </div>
            <div class="product bg-white br3 ma2 ">
                
                <div class="data pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-50">
                <div class="text w-100 tc pl3 pr3">
                <p class="seller  pa2 wft  mla mt0 mb2 bg-light-gray   f7   black br3 ">Saraswati General Store</p>
                    <h3 class="p-title tc f3 ma0 black ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <a href="/prod"><button class=" shadow-3 bg-black pa1 bn br3 white w-100 ">View Details</button></a></div>
            </div>
            </div>
            <div class="product bg-white br3 ma2 ">
                
                <div class="data pb2 pl2 pr2 pt1 ma0 flex">
                <img src="12.jpg" alt="" class="p-img w-50">
                <div class="text w-100 tc pl3 pr3">
                <p class="seller  pa2 wft  mla mt0 mb2 bg-light-gray   f7   black br3 ">Saraswati General Store</p>
                    <h3 class="p-title tc f3 ma0 black ">500ml Silk Shampoo</h3>
                <p class="p-price f4 db ma0 mt2 mb2">120$</p>
                <a href="/prod"><button class=" shadow-3 bg-black pa1 bn br3 white w-100 ">View Details</button></a></div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>